<div class="container">
  <div class="input-group w-50" *ngIf="!sorteado">
    <span class="input-group-text">Nome</span>
    <input type="text" aria-label="Nome" id="nome" class="form-control" id="validationDefault01" [(ngModel)]="pessoa"
           #name="ngModel" required minlength="2">
    <span class="d-inline-block" tabindex="0" data-bs-toggle="tooltip" title="Adicione pessoa a tabela">
<button type="button" class="btn btn-success" id="adicionar" [disabled]="name.invalid && pessoa.trim().length === 0 "
        (click)="adicionarPessoa()">Adicionar</button>
<button type="button" class="btn btn-primary" [disabled]="sortear" (click)="sortearTime()">Sortear</button>
<button type="button" class="btn btn-primary" [disabled]="isListar" (click)="listarNomes()">Listar</button>

  </span>
  </div>
  <br/>

  <table class="table table-dark table-striped w-50 table-responsive justify-content-center" *ngIf="!sorteado">
    <thead>
    <tr>
      <th scope="col">Numero</th>
      <th scope="col">Nome</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let pessoa of pessoas; let i = index">
      <tr>
        <th scope="row">{{ i + 1}}</th>
        <td>{{pessoa}}</td>
        <td>
          <button type="button" class="btn btn-danger" (click)="removerPessoa(pessoa)">Remover</button>
        </td>
      </tr>
    </ng-container>
    </tbody>
  </table>
</div>

<app-teams *ngIf="sorteado" [times]="pessoas"></app-teams>
